--- --- @import "minima";

/* assets/css/style.scss */

body {
    background-color: #0d0208 !important;
    color: #00ff41 !important;
    font-family: 'Fira Code', monospace !important;
}

.site-title,
.site-nav .page-link,
.post-title,
.post-meta,
.post-content h2,
.post-content h3 {
    color: #00ff41 !important;
}

a {
    color: #00ff41 !important;
    text-decoration: underline;
}

a:hover {
    color: #ffffff !important;
}

.site-header {
    border-top: 5px solid #00ff41;
    background-color: #1a1a1a;
}

.wrapper {
    max-width: 800px;
}

pre,
code {
    background-color: #1a1a1a !important;
    border: 1px solid #003b00 !important;
    color: #00ff41 !important;
}

.post-list li {
    border-bottom: 1px solid #003b00;
}